#Folders
color_book_pages_smooth
color_book_pages_smooth_2
color_book_pages_smooth_final
color_book_pages1
ColorBook_Output_Raster
Nepali


#Files
make_color_book.py
make_color_book1.py
make_color_book2.py
MyColorBook.pdf
MyColorBookFinal.pdf

#